<div class="users-page">
  <header class="users-header">
    <div class="header-left">
      <h2>👥 ניהול משתמשים</h2>
      <span class="user-count">{{ usersList?.length || 0 }} משתמשים</span>
    </div>
    <button class="add-btn" (click)="addUser()">
      <mat-icon>person_add</mat-icon>
      הוסף משתמש
    </button>
  </header>

  <div class="table-wrapper">
    <mat-table [dataSource]="usersList || []" class="users-table">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef class="col-{{column}}">
          <span>{{ column | toColumnName }}</span>
        </mat-header-cell>

        <mat-cell *matCellDef="let element" class="col-{{column}}">
          @if(column === 'roleId'){
            <span class="role-badge" [class.manager]="element[column] === theRole.manager">
              {{ element[column] | roleText }}
            </span>
          }
          @else if(column !== 'roleId' && !iconColumns.includes(column)){
            <span>{{ element[column] }}</span>
          }
          @if(column === 'delete'){
            <button class="delete-btn"
                    [disabled]="user.roleId !== theRole.manager"
                    (click)="deleteUser(element)"
                    matTooltip="מחק משתמש">
              <mat-icon>delete_outline</mat-icon>
            </button>
          }
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </div>
</div>
