:host{
     .tooltip-wrapper {
      z-index: 1000;
      position: relative;
      display: inline-block;
    }

    .tooltip {
      position: absolute;
      top:  50%;
      right:  50%;
      margin-top: 6px;
      background: #333;
      color: #fff;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
    }
}