
<div class="home-page">
  <section class="hero">
    <div class="hero-text">
      <p class="greeting">שלום, <strong>{{ name }}</strong></p>
      <h1>הנדסאית תוכנה</h1>
      <p class="subtitle">Angular, React, Python, Node.js, C#, C++ ,C ,Java, SQL, MongoDB.</p>

      <div class="hero-buttons">
        <button class="primary" (click)="goToResume()">🗒️ קורות חיים</button>
        <button class="primary" (click)="goTOlogin()">💻 לצפייה בפרויקט</button>
        <button class="secondary" (click)="click()">📞 צור קשר</button>
      </div>
      <p class="contact-phone" *ngIf="phone">{{ phone }}</p>
    </div>
  </section>

</div>
