<mat-table [dataSource]="tasksList || []" class="custom-table">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>
      <span>{{ column | toColumnName }}</span>
    </mat-header-cell>

    <mat-cell *matCellDef="let element">
      @if(column === 'status'){
        <span class="status-cell" [class]="statusClass(element[column])">
          {{ element[column] | status }}
        </span>
      }
      @else if(column === 'price'){
        <span>{{ element[column] | currency:'ILS':'symbol':'1.0-2' }}</span>
      }
      @else if(column === 'scheduling'){
        <span>{{ element[column] | dateOnly }}</span>
      }
      @else if(column === 'update'){
        <button class="update-btn" (click)="updateTask(element)" matTooltip="עדכן משימה">
          <mat-icon>edit</mat-icon>
        </button>
      }
      @else if(column === 'delete'){
        <button class="delete-btn" (click)="confirmDelete(element)" matTooltip="מחק משימה">
          <mat-icon>delete_outline</mat-icon>
        </button>
      }
      @else {
        <span>{{ element[column] }}</span>
      }
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
